@page
@model IndexModel
@{
    ViewData["Title"] = "Bedrock Hotels - Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Bedrock Hotel Group</h1>
    <p>We have premium hotels around the global that cater to exclusive clientelle.</p>
</div>
<div class="hotelListContainer">
    @foreach (var hotel in Model.Hotels)
    {
        <a href="/hotel/@hotel.HotelId/@hotel.Name.Replace(" ","-")/" class="divLink">
        <div class="hotelTile col">
            <img  src="@hotel.MainPictureUrl" />
            <div>
                <h2>@hotel.Name</h2>
                <p class="hotelAddress">@hotel.Address.Town, @hotel.Address.Country?.Name</p>
            </div>
        </div>
        </a>
    }
</div>